<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="dragonBallApp">    
  <div class="container" ng-controller="episodesController">

    <div class="header">
      <h3 class="text-muted">Dragon Ball Z - VOSTFR</h3>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Choix de l'episode</div>
      <div class="panel-body">
        <form class="form-inline text-center" role="form">
          <button type="button" class="btn btn-default" ng-click="episodePrecedent()" ng-disabled="estLePremierEpisode()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          <select class="form-control" ng-model="episodeCourant" data-ng-options="ep as ep.id + ' - ' + ep.titre group by ep.saison for ep in episodes"></select>
          <button type="button" class="btn btn-default" ng-click="episodeSuivant()" ng-disabled="estLeDernierEpisode()">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">{{episodeCourant.id}} - {{episodeCourant.titre}}</div>
      <div class="panel-body">
        <div ng-repeat="ep in [episodeCourant]">      
          <lj-embed> 
          <object width="800px" height="600px">
            <param name="allowFullScreen" value="true">
            <param name="wmode" value="window">
            <embed embed-src="{{ep.urlRutube}}" type="application/x-shockwave-flash" wmode="window" width="800px" height="600px" allowFullScreen="true" ></embed>
          </object>
        </lj-embed>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from Bulrogg</p>
  </div>

</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/directives/episodesDirective.js"></script>
<script src="scripts/services/episodesService.js"></script>
<script src="scripts/controllers/episodesController.js"></script>
<!-- endbuild -->

</body>
</html>
